.title{
  font-size: 15px;
}
.subtitle,.price,.title{
  text-align: center;
}
.subtitle{
  color: gray;
  font-style: italic;
}
.price{
  font-size: 15px;
}
/* .button{
  visibility:hidden;
} */
.button:hover{
  text-align: center;
  display: block;
  color: red;
}
.image{
  background-color: rgb(236, 234, 234);
}
.btn{
  width: 200px;
}
.featured{
  margin-top: 12%;
}
.card{
  margin-left: 50px;
}